#game-screen {
  text-align: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
  padding-top: 60px;
}

.hands-area {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: 30px;
}

.hand-box {
  font-size: 28px;
  font-weight: 900;
}

.hand-box img {
  width: 200px;
  height: auto;
}

.image-button {
  width: 190px;
  height: 120px;
  padding: 0;
  border: none;
  border-radius: 999px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image-button img {
  width: 170px;
  height: 110px;
  object-fit: contain;
  display: block;
}
