#start-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background: linear-gradient(
  135deg,
  #fff4b8,
  #ffd6ec,
  #d6f5ff
);
}
.start-title{
 font-size: 100%; 
 font-family: "M PLUS Rounded 1c", sans-serif; 
  font-weight: 900;
  color: #ff4fa3;

  text-shadow:
    4px 4px 0 #ffffff,
    8px 8px 0 #ffb3d9;
}
.start-button{
    font-size: 65px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 900;
    padding: 25px 80px;
    border: none;
    color: white;
    background: linear-gradient(
    45deg,
    #ff7ecf,
    #ff9be8
  );
    box-shadow:
    0 10px 0 #ff4fa3,                     
    0 15px 25px rgba(255,105,180,0.4);

    text-shadow:
    3px 3px 0 #e6f5af;
}
