html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#game-screen {
  width: 250vw;
  min-height: 250vh;
  text-align: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
  box-sizing: border-box;
  overflow: hidden;
  zoom: 0.4;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 手エリア */
.hands-area {
  position: relative;
  width: 1500px;
  height: 600px;
  padding: 50px;
  margin: 80px 100px 10px !important;
}

.hand-box {
  position: absolute;
  top: 0;
  width: 550px;
  height: 520px;
  font-size: 34px;
  font-weight: 900;
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  overflow: visible;
}

/* あなた：左 */
.hand-box:last-child {
  left: 0;
  right: auto;
  text-align: center;
}

/* CPU：右 */
.hand-box:first-child {
  right: 0;
  left: auto;
  text-align: center;
}

.hand-box p {
  margin: 0 0 20px;
}

#cpu-hand-image,
#player-hand-image {
  position: absolute;
  top: 160px;
  width: 900px !important;
  height: auto;
  transform-origin: center center;
}

/* あなたの手：もっと左端 */
#player-hand-image {
  left: -650px;
  right: auto;
  transform: rotate(90deg) scale(4.5);
  animation: playerHandIn 0.45s ease;
}

/* CPUの手：もっと右端 */
#cpu-hand-image {
  right: -650px;
  left: auto;
  transform: rotate(-90deg) scale(4.5);
  animation: cpuHandIn 0.45s ease;
}

#resultDisplay {
  display: none;
}

#streakDisplay {
  font-size: 32px !important;
  padding: 14px 55px !important;
  margin: 0 auto 25px !important;
}

.button-area {
  display: flex;
  justify-content: center;
  gap: 120px;
  margin-top: 40px !important;
}

.image-button {
  width: 600px !important;
  height: 400px !important;
  padding: 0 !important;
  border: none;
  border-radius: 55px !important;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-button img {
  width: 600px !important;
  height: 500px !important;
  object-fit: contain;
  display: block;
}

@keyframes playerHandIn {
  from {
    transform: translateX(-900px) rotate(90deg) scale(4.5);
    opacity: 0;
  }

  to {
    transform: translateX(0) rotate(90deg) scale(4.5);
    opacity: 1;
  }
}

@keyframes cpuHandIn {
  from {
    transform: translateX(900px) rotate(-90deg) scale(4.5);
    opacity: 0;
  }

  to {
    transform: translateX(0) rotate(-90deg) scale(4.5);
    opacity: 1;
  }
}

#resultOverlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 999;
}

#resultDisplay {
  display: none;
  position: fixed;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
